body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:889px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:533px;
  height:889px;
}
#u2560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:31px;
  width:65px;
  height:28px;
  font-size:20px;
}
#u2561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:31px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u2562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:2px;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:86px;
  width:533px;
  height:1px;
}
#u2563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:129px;
  width:144px;
  height:144px;
}
#u2564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:300px;
  width:73px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:365px;
  width:183px;
  height:28px;
  font-size:20px;
}
#u2566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:426px;
  width:518px;
  height:260px;
}
#u2568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:53px;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:53px;
  font-size:16px;
  line-height:20px;
}
#u2568_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:143px;
  word-wrap:break-word;
}
#u2569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:53px;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:0px;
  width:371px;
  height:53px;
  font-size:16px;
  line-height:20px;
}
#u2569_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:367px;
  word-wrap:break-word;
}
#u2570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:67px;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:147px;
  height:67px;
  font-size:16px;
  line-height:20px;
}
#u2570_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:143px;
  word-wrap:break-word;
}
#u2571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:67px;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:53px;
  width:371px;
  height:67px;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u2571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:367px;
  word-wrap:break-word;
}
#u2572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:79px;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:147px;
  height:79px;
  font-size:16px;
  line-height:20px;
}
#u2572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u2573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:79px;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:120px;
  width:371px;
  height:79px;
  font-size:16px;
  line-height:20px;
}
#u2573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:367px;
  word-wrap:break-word;
}
#u2574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:61px;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:199px;
  width:147px;
  height:61px;
  font-size:16px;
  line-height:20px;
}
#u2574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:143px;
  word-wrap:break-word;
}
#u2575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:61px;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:199px;
  width:371px;
  height:61px;
  font-size:16px;
  line-height:20px;
}
#u2575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:367px;
  word-wrap:break-word;
}
#u2576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:742px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u2576_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:993px;
  width:281px;
  height:28px;
}
#u2577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:993px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#FF0000;
  text-align:left;
}
#u2578_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u2578_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-52px;
  width:8px;
  height:51px;
}
#u2578_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-52px;
  width:9px;
  height:8px;
}
#u2578_seg3 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-93px;
  width:8px;
  height:49px;
}
#u2578_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-100px;
  width:20px;
  height:20px;
}
#u2578_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:188px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:426px;
  width:160px;
  height:188px;
}
#u2579_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:135px;
  white-space:nowrap;
}
#u2580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:748px;
  width:57px;
  height:28px;
}
#u2580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:762px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#FF0000;
  text-align:left;
}
#u2581_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u2581_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2581_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
